<form (ngSubmit)="saveExpense()">
    <div class="col-3 m-2">
        <input class="form-control" type="text" name="expense" [(ngModel)]="expense.expense" placeholder="Enter Expense Name">
    </div>
    <div class="col-3 m-2">
        <input class="form-control" type="text" name="amount" [(ngModel)]="expense.amount" placeholder="Enter Expense Amount">
    </div>
    <div class="col-3 m-2">
        <textarea class="form-control" type="text" name="description" [(ngModel)]="expense.description" placeholder="Enter Description"></textarea>
    </div>
    <div class="col-3">
        <button class="btn btn-primary m-2" type="submit">Save</button>
        <button class="btn btn-danger" *ngIf="expense.id" (click)="deleteExpense(expense.id)">Delete</button>
    </div> 
</form>