<div class="d-flex justify-content-around">
    <div class="col-3 m-2 ">
        <input class="form-control" type="text" [(ngModel)]="filter.keyword" name="keyword" (input)="listExpenses()" >
    </div>
    <div class=" p-2">
        <select class="btn form-control" name="sortBy" [(ngModel)]="filter.sortBy" (change)="listExpenses()">
            <option>Name</option>
            <option>Amount</option>
        </select>
    </div>
</div>
<table class="table">
    <thead>
        <th>id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Edit Value</th>
        <th>Delete</th>
    </thead>
    <tbody *ngFor="let a of expense">
        <td >{{a.id}}</td>
        <td>{{a.expense}}</td>
        <td>{{a.description}}</td>
        <td>{{a.amount | currency:'INR'}}</td>
        <td><a class="btn btn-success" routerLink="/edit/{{a.id}}">Edit</a></td>
        <button class="btn btn-danger" (click)="deleteExpense(a.id)">Delete</button>
    </tbody>
</table>
<div>
    <a class="btn btn-success" routerLink="/add">Add Expense</a>
</div>